h1, h2, section, nav, header, aside, div, p, ul {
    margin: 0;
    padding: 0;
}
body {
    max-width: 1920px;
    margin: auto;
}
header {
    background-image: url("../img/the-macallan.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}
header .top-header {
    display: flex;
    padding-top: 15px;
    background-color: rgba(20, 20, 20, 0.9);
    justify-content: space-around; 
    position:fixed;
    top: 0;
	left: 0;
    z-index: 999;
    width: 100%;    
}
header #main-logo a {
    text-decoration: none;
    color: coral;
    font-weight: lighter;
    font-style: italic;
}
header .main-nav {
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    align-content: center;
    padding-top: 5px;
}
header .main-nav ul{
    display: flex;
    list-style-type: none;
}    
header .main-nav ul a{
    text-decoration: none;
    font-size: 1.5rem;
    color: grey;
    padding-left: 45px;
}
Header .main-nav ul a:hover{
    color: coral;
    transition-delay: .05s;
    text-decoration: underline;
}
header .side-nav {
    
    justify-content: center;
}
header .side-nav ul{
    display: flex;
    padding: 0;
    list-style-type: none;
}
header .side-nav ul img{
    height: 35px;
    padding-left: 35px;
}

header .largest-selling {
    display: inline-block;
    margin-top: 360px;
    padding-left: 20%;
    justify-content: space-between;
    background-color: rgba(20, 20, 20, 0.6);
}

header .largest-selling h2{
    color: coral;
    font-size: 2em;
    font-style: italic;
    text-transform: capitalize;
    font-weight: lighter;
    text-align: center;
}
header .largest-selling P{
    color: rgba(255, 255, 255, 0.63);
    font-size: 1.5em;
    padding-top: 30px;
    text-align: center;
}
@media screen and (min-width: 1100px) and (max-width: 1400px) { 
    .largest-selling{
    margin-top: 360px;
    padding-left: 15%;
    }

}
@media screen and (min-width: 960px) and (max-width: 1100px) { 
    .largest-selling{
    margin-top: 360px;
    padding-left: 7%;
    }
    header .side-nav ul img{
        padding-left: 15px;
    }

}
@media screen and (min-width: 440px) and (max-width: 960px) { 
    .largest-selling{
    margin-top: 360px;
    padding-left: 0;
    
    }   
  
     header .main-nav ul{
        display: none
    }
    header .side-nav li:nth-child(1) {
        display: none;    
     }
    header .top-header  {
        justify-content: space-around
    }
}
@media  (max-width: 440px) { 
    .largest-selling{
    margin-top: 360px;
    padding-left: 0;
    }   
     header .main-nav ul{
         
        display: none
    }
    header .side-nav ul img{
        padding-left: 5px;
    }
    header .side-nav li:nth-child(1) {
        display: none;    
    }
    
}
.explore {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.explore h2{
    color: coral;
    font-size: 2em;
    font-style: italic;
    text-transform: capitalize;
    font-weight: lighter;
    text-align: center;    
}
.lexplore P{
    color: rgba(255, 255, 255, 0.63);
    font-size: 1.5em;
    padding-top: 20px;
    text-align: center;
}
#carousel {
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}
.news-and-trilogy{
    display: flex;
    justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    

}
.news {
    background-image: url("../img/mastery-team.jpg" );
    background-size: cover;
    background-position: center;
    min-width: 80vh ;
    min-height: 40vw;
    margin-right: 1%;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}
.news h2{
    color: coral;
    font-size: 2em;
    font-style: italic;
    text-transform: capitalize;
    font-weight: lighter;
    text-align: center;
}
.news p{
    color: rgba(255, 255, 255, 0.63);
    font-size: 1.5em;
    padding-top: 30px;
    text-align: center;
}
.macallan-trilogy {
    background-image: url("../img/barrels.jpg" );
    background-size: cover;
    background-position: center;
    min-width: 80vh ;
    min-height: 40vw;
    margin-left: 1%;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    
    
}
.macallan-trilogy{
    color: coral;
    font-size: 2em;
    font-style: italic;
    text-transform: capitalize;
    font-weight: lighter;
    text-align: center;
}
.macallan-trilogy p{
    color: rgba(255, 255, 255, 0.63);
    font-size: 1.5em;
    padding-top: 30px;
    text-align: center;
}

.character {
    background-image: url(../img/distillery-tour-background.jpg);
    background-size: cover;
    background-position: center;
    height: 35vw;
    margin-top: 4%;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    
}
.character h2{
    color: coral;
    font-size: 2em;
    font-style: italic;
    text-transform: capitalize;
    font-weight: lighter;
    text-align: center;
}
.character p{
    color: rgba(255, 255, 255, 0.63);
    font-size: 1.5em;
    padding-top: 30px;
    text-align: center;
}
footer {
    background-color: rgb(73, 73, 73);
    margin-top: 4%;
}
footer .estate-logo-and-location-and-conact-form{
    display: grid;
    grid-template-columns: 15% 40% 45%;
}

footer .social-icon {
    display: flex;
    justify-content: center;
}
footer .social-icon ul{
    display: flex;
    list-style-type: none;
}
footer .footer-nav {
    display: flex;
    font-weight: bold;
    justify-content: center;
    
}
footer .footer-nav ul{
    display: flex;
    list-style-type: none;
    
}    
footer .footer-nav ul a{
    text-decoration: none;
    font-size: 0.9rem;
    color: black;
    padding-left: 30px;
    
}
footer .footer-nav ul a:hover{
    color: white;
    transition-delay: .02s;
    text-decoration: underline;
}
footer #hr{
    color: black;
}
footer #copyright p {
    text-align: center;
}