h1, h2, section, nav, header, aside, div, p, ul {
    margin: 0;
    padding: 0;
}
body {
    max-width: 1920px;
    margin: auto;
}
header {
    background-image: url("../img/the-macallan.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.top-header {
    display: flex;
    padding-top: 15px;
    background-color: rgba(20, 20, 20, 0.6);
    justify-content: space-around;
}

header #main-logo a {
    text-decoration: none;
    color: coral;
    font-weight: lighter;
    font-style: italic;
}
header .main-nav {
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    align-content: center;
    padding-top: 5px;
}
header .main-nav ul{
    display: flex;
    list-style-type: none;
}    
header .main-nav ul a{
    text-decoration: none;
    font-size: 1.5rem;
    color: grey;
    padding-left: 45px;
}
.main-nav ul a:hover{
    color: coral;
    transition-delay: .05s;
    text-decoration: underline;
}
header .side-nav {
    
    justify-content: center;
}
header .side-nav ul{
    display: flex;
    padding: 0;
    list-style-type: none;
}
header .side-nav ul img{
    height: 35px;
    padding-left: 35px;
}

.largest-selling {
    display: inline-block;
    margin-top: 360px;
    padding-left: 20%;
    justify-content: space-between;
    background-color: rgba(20, 20, 20, 0.6);
}

.largest-selling h2{
    color: coral;
    font-size: 2em;
    font-style: italic;
    text-transform: capitalize;
    font-weight: lighter;
    text-align: center;
}
.largest-selling P{
    color: rgba(255, 255, 255, 0.63);
    font-size: 1.5em;
    padding-top: 30px;
    text-align: center;
}
.explore {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
@media screen and (min-width: 1100px) and (max-width: 1400px) { 
    .largest-selling{
    margin-top: 360px;
    padding-left: 15%;
    }

}
@media screen and (min-width: 960px) and (max-width: 1100px) { 
    .largest-selling{
    margin-top: 360px;
    padding-left: 7%;
    }
    header .side-nav ul img{
        padding-left: 15px;
    }

}
@media screen and (min-width: 440px) and (max-width: 960px) { 
    .largest-selling{
    margin-top: 360px;
    padding-left: 0;
    
    }   
  
     header .main-nav ul{
        display: none
    }
    header .side-nav li:nth-child(1) {
        display: none;    
     }
    header .top-header  {
        justify-content: space-around
    }
}
@media  (max-width: 440px) { 
    .largest-selling{
    margin-top: 360px;
    padding-left: 0;
    }   
     header .main-nav ul{
         
        display: none
    }
    header .side-nav ul img{
        padding-left: 5px;
    }
    header .side-nav li:nth-child(1) {
        display: none;    
    }
    
}
